In [46]:
import pandas as pd
data=pd.read_csv("iris.csv",header=None)
data.columns=["f1","f2","f3","f4","Target"]

In [47]:
data

      f1   f2   f3   f4          Target
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [48]:
from sklearn.preprocessing import LabelEncoder
obj=LabelEncoder()
data["Target"]=obj.fit_transform(data["Target"])

In [49]:
data

      f1   f2   f3   f4  Target
0    5.1  3.5  1.4  0.2       0
1    4.9  3.0  1.4  0.2       0
2    4.7  3.2  1.3  0.2       0
3    4.6  3.1  1.5  0.2       0
4    5.0  3.6  1.4  0.2       0
..   ...  ...  ...  ...     ...
145  6.7  3.0  5.2  2.3       2
146  6.3  2.5  5.0  1.9       2
147  6.5  3.0  5.2  2.0       2
148  6.2  3.4  5.4  2.3       2
149  5.9  3.0  5.1  1.8       2

[150 rows x 5 columns]

In [16]:
data['Target'].value_counts()

0    50
1    50
2    50
Name: Target, dtype: int64

In [17]:
import math
def normal_distribution_probability(x, mu, sigma):
    # Calculate the coefficient part (1 / (sigma * sqrt(2 * pi)))
    coefficient = 1 / (sigma * math.sqrt(2 * math.pi))
    
    # Calculate the exponent part (e^(-(x - mu)^2 / (2 * sigma^2)))
    exponent = math.exp(- ((x - mu) ** 2) / (2 * sigma ** 2))
    
    # Return the final probability density
    return coefficient * exponent

In [42]:
f1=2
f2=3
f3=3.3
f4=2
fe=[2,3,3.3,2]

In [44]:
fe=[5.9,3.0,5.1,1.8]

In [45]:
for target in data['Target'].unique():
    data1=data[data['Target']==target]
    data1.drop('Target',axis=1,inplace=True)
    means=list(data1.mean())
    std1=list(data1.std())
    prop=list()
    for i,j,fef in zip(means,std1,fe):
        prop.append(normal_distribution_probability(fef,i,j))
    final_prop=1
    for i in prop:
        final_prop=final_prop*i
    final_prop=final_prop*1/3
    print(target,":",final_prop)

0 : 5.939526273572025e-143
1 : 0.004895245168281268
2 : 0.07685700013118224

C:\Users\HP\AppData\Local\Temp\ipykernel_22516\3466335927.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1.drop('Target',axis=1,inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_22516\3466335927.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1.drop('Target',axis=1,inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_22516\3466335927.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1.drop('Target',axis=1,inplace=True)

In [29]:
means

[5.006, 3.418, 1.464, 0.244]

In [31]:
std1

[0.35248968721345136,
 0.38102439795469095,
 0.17351115943644546,
 0.1072095030816784]

In [50]:
data

      f1   f2   f3   f4  Target
0    5.1  3.5  1.4  0.2       0
1    4.9  3.0  1.4  0.2       0
2    4.7  3.2  1.3  0.2       0
3    4.6  3.1  1.5  0.2       0
4    5.0  3.6  1.4  0.2       0
..   ...  ...  ...  ...     ...
145  6.7  3.0  5.2  2.3       2
146  6.3  2.5  5.0  1.9       2
147  6.5  3.0  5.2  2.0       2
148  6.2  3.4  5.4  2.3       2
149  5.9  3.0  5.1  1.8       2

[150 rows x 5 columns]

In [51]:
x=data.iloc[:,:-1]
y=data.iloc[:,-1]

In [52]:
x

      f1   f2   f3   f4
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [53]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Target, Length: 150, dtype: int32

In [54]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 1/3, random_state = 0)

In [55]:
from sklearn.naive_bayes import GaussianNB

In [56]:
model=GaussianNB()
model.fit(x_train,y_train)

GaussianNB()

In [57]:
model.predict([[5.9,3.0,5.1,1.8]])

C:\Users\HP\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

array([2])

In [21]:
# x_test

In [20]:
# yp

In [17]:
from sklearn import datasets, linear_model, metrics
yp=model.predict(x_test)
metrics.accuracy_score(y_test,yp)

0.96

In [16]:
model.predict([[.1,.02,.03,1]])

C:\Users\HP\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

array([1])